{% extends "base.html" %}

{% block title %}London vs Auckland Weather{% endblock %}



{% block body_container %}

<div class="row">
    <div class="span10 offset1">
        
        <h1>UK vs Hobbitland Weather</h1><br>
                
        <!-- Container contains HighCharts object -->
        <div id="container" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
        
        <br>
        <small>
            <strong>Tips:</strong> Click &amp; drag to zoom. Temperatures in future are forecast. <em>Data source: <a href="http://www.wunderground.com" title="Wunderground">Wunderground</a></em>.
        </small>
        <br><br>
        
        <!-- DISQUS thread -->
        <div id="disqus_thread"></div>
        <script type="text/javascript">
            /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
            var disqus_shortname = 'johnsandall'; // required: replace example with your forum shortname

            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
        
    </div> <!-- /.span10 -->    
</div><!-- /.row -->

{% endblock %}



{% block customjs %}
<script>

    $(document).ready(function(){
        
        // Sort an array (takes an argument which defines how to sort two dates; applies argument recursively)
        $.fn.sort = function() {  
            return this.pushStack( [].sort.apply( this, arguments ), []);  
        };

        // sortDate sorts two dates, based on a simple greater than comparison (they're ints after all)
        function sortDate(a,b){  
             if (a[0] == b[0]){
                 return 0;
             }
             return a[0]> b[0] ? 1 : -1;  
         };
        
        // ajax call to /data/, which simply returns all the records in the database as a 'response' JSON object
        // This ajax call might not be necessary; could just pass the records through as a template variable
        $.get("/data/", function(response){
            // Callback
            
            // Create empty arrays to hold the various datapoints (HighCharts is expecting four different data series)
            var NZdata = [];
            var NZhistdata = [];
            var UKdata = [];
            var UKhistdata = [];
            
            // Fill the arrays by looping through each record & splitting out the various fields
            for (var i = 0; i < response.length; i++) {
                var entry = response[i]['fields'];
                var entry_date = parseInt(entry['date']);
                NZdata.push( [ entry_date, parseInt(entry['nzmin']), parseInt(entry['nzmax']) ] );
                UKdata.push( [ entry_date, parseInt(entry['ukmin']), parseInt(entry['ukmax']) ] );
                NZhistdata.push( [ entry_date, parseInt(entry['nzhistmin']), parseInt(entry['nzhistmax']) ] );
                UKhistdata.push( [ entry_date, parseInt(entry['ukhistmin']), parseInt(entry['ukhistmax']) ] );
            }
            
            // Gatwick forecast ajax call (within an ajax call) to the Highcharts forecast API
            // These nested calls are probably not necessary; could just do the call in Python & pass the results through to the template
            $.ajax({
                url : "http://api.wunderground.com/api/0f54192d6585cd65/forecast/q/EGKK.json", // Gatwick forecast
                dataType : "jsonp",
                success : function(UK_parsed_json) {
                    // Callback
                    
                    // Auckland forecast ajax call
                    // Reason these are nested is because all the data must be received before we plot the chart
                    $.ajax({ 
                        url : "http://api.wunderground.com/api/0f54192d6585cd65/forecast/q/NZAA.json", // Auckland forecast
                        dataType : "jsonp",
                        success : function(NZ_parsed_json) {
                            // Callback
                            
                            // Loop through forecasts for the next four days & add to the UKdata/NZdata "current max/min" arrays
                            // TODO: NZ forecast epoch is exactly 12h out (which is sort of correct but odd UI). Need to shift this back by 12h to align with GMT.
                            for (var i=0; i<=3; i++) {
                                var UK_forecast_date = parseInt(UK_parsed_json['forecast']['simpleforecast']['forecastday'][i]['date']['epoch'])*1000;
                                var UK_forecast_high = parseInt(UK_parsed_json['forecast']['simpleforecast']['forecastday'][i]['high']['celsius']);
                                var UK_forecast_low = parseInt(UK_parsed_json['forecast']['simpleforecast']['forecastday'][i]['low']['celsius']);
                                
                                var NZ_forecast_date = parseInt(NZ_parsed_json['forecast']['simpleforecast']['forecastday'][i]['date']['epoch'])*1000;
                                var NZ_forecast_high = parseInt(NZ_parsed_json['forecast']['simpleforecast']['forecastday'][i]['high']['celsius']);
                                var NZ_forecast_low = parseInt(NZ_parsed_json['forecast']['simpleforecast']['forecastday'][i]['low']['celsius']);
                                
                                UKdata.push( [ UK_forecast_date, UK_forecast_low, UK_forecast_high ] );
                                NZdata.push( [ NZ_forecast_date, NZ_forecast_low, NZ_forecast_high ] );
                            }
                            
                            // Sort the four data streams (just in case we've been doing odd things in the database etc)
                            NZdata = $(NZdata).sort(sortDate);
                            UKdata = $(UKdata).sort(sortDate);
                            NZhistdata = $(NZhistdata).sort(sortDate);
                            UKhistdata = $(UKhistdata).sort(sortDate);
                            
                            // Set Highcharts options: colours, border, shadow
                            Highcharts.setOptions({
                		    	chart: {
                		        	backgroundColor: {
                						linearGradient: [0, 0, 500, 500],
                						stops: [
                							[0, 'rgb(255, 255, 255)'],
                							[1, 'rgb(240, 240, 255)']
                		                    ]
                		            },
                					borderWidth: 2,
                					plotBackgroundColor: 'rgba(255, 255, 255, .9)',
                					plotShadow: true,
                					plotBorderWidth: 1
                		        }
                		    });

                            // Plot the Highchart & set variables
                	    	window.chart = new Highcharts.Chart({
                                chart: {
                			        renderTo: 'container', // Specify id of container div
                			        type: 'arearange',
                			        zoomType: 'x'
                			    },
                                
                                title: {
                			        text: 'Daily max/min temperatures - London (Gatwick) vs Auckland'
                			    },

                			    xAxis: {
                			        type: 'datetime'
                			    },

                			    yAxis: {
                			        title: {
                			            text: 'Temperature (°C)'
                			        }
                			    },

                			    tooltip: {
                			        crosshairs: true,
                			        shared: true,
                			        valueSuffix: '°C'
                			    },

                			    legend: {
                			        enabled: true
                			    },

                			    series: [
                					{
                			        	name: 'UK (Gatwick) - average historical temperature',
                			        	data: UKhistdata,
                						color: '#99C2FF'
                			    	},
                					{
                			        	name: 'New Zealand (Auckland) - average historical temperature',
                			        	data: NZhistdata,
                						color: '#FFB280'
                			    	},
                					{
                			        	name: 'UK (Gatwick)',
                			        	data: UKdata,
                						color: '#0066FF'
                			    	},
                					{
                			        	name: 'New Zealand (Auckland)',
                			        	data: NZdata,
                						color: '#FF6600'
                			    	}
                				]

                			}); // window.chart
                        } // NZ success function
                    }); // NZ forecast ajax
                } // UK success function
            }); // UK forecast ajax
        }); // $.get
    }); // document.ready

</script>
{% endblock customjs %}